<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>sso-login</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="Login.css"/>
</head>
<body>
<script type="text/javascript">

    //     $('#loginbutton').click(function(){
    //         $("#loginform").ajaxSubmit(function(data){
    //             alert(data);
    //         })
    //     })
    // //action="/login"
</script>
<div id="login">
    <h1>Login</h1>
    <form id="loginform" action="/login"  method="post">
        <input type="text" required="required" placeholder="用户名" name="uname"></input>
        <input type="password" required="required" placeholder="密码" name="upwd"></input>
        <button id="loginbutton" class="but" type="submit">登录</button>
    </form>
</div>
</body>
</html>

