<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.btc.baseDao.UrlPara">
<select id="getHbpara" parameterType="INTEGER"  resultType="java.lang.String" > <!-- resultMap="LibrarianMap"-->
    SELECT LOWER(hb) FROM btc.hb limit 10
</select>
</mapper>
